# Frontend Requirments
streamlit

# AI/ML Dependencies
google-generativeai>=0.3.0
pinecone-client>=2.2.0
langgraph>=0.0.20
langchain-core==0.1.52
langchain==0.1.20
langchain-community==0.0.38
langchain-pinecone>=0.0.1
langchain-google-genai==0.0.11
langchain-huggingface>=0.0.1
sentence-transformers>=3.0.0

# Utilities
python-dotenv
requests
werkzeug

# Development (optional)
gunicorn

# FastAPI Dependencies
fastapi
uvicorn[standard]
pydantic
starlette
python-multipart

# Database
sqlalchemy
psycopg2-binary
asyncpg
supabase

# PDF Processing
pdfplumber
pandas
pypdf
